.profile-image__container{
    width: 35%;
    height: 100%;
    background-color: #242424;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
}

.profile-image{
    width: 120%;
    height: auto;
    position: absolute;
    bottom: -15%;
    left: -10%;
}

@media screen and (max-width:1024px) {
    .profile-image{
        width: 150%;
        left: -25%;
    }
}

@media screen and (max-width:768px) {
    .profile-image__container{
        width: 40%;
    }
}

@media screen and (max-width:500px) {
    .profile-image__container{
        width: 60%;
        height: fit-content;
        position: absolute;
        top: 28%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto;
    }
    
    .profile-image{
        width: 120%;
        position: relative;
        left: -9%;
    }
}

@media screen and (max-width:320px){
    .profile-image__container{
        top: 25%;
    }
}