.navbar_footer{
    width: 85%;
    height: 15%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 2%;
    padding-top: 2%;
    display: flex;
    position: relative;
    border-top: 2px solid #d9d9d9;
}

.navbar__name_footer{
    display: flex;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 0;
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    color: #fff;
}

.navbar__links-container_footer{
    width: 10%;
    display: flex;
    position: absolute;
    top: 50%;
    right: 0;
    justify-content: space-around;
}

.navbar__links-container_footer::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px;
    background-color: #4EE1A0;
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out;
}
  
.navbar__links-container_footer:hover::before {
    width: 100%;
}

.navbar__link_footer{
    width: 25px;
    height: 25px;
}

@media screen and (max-width:1024px) {
    .navbar_footer{
        margin-bottom: 0;
    }
}

@media screen and (max-width:768px) {
    .navbar_footer{
        width: 95%;
        margin-bottom: 0;
    }

    .navbar__links-container_footer{
        width: 15%;
    }
}

@media screen and (max-width:500px) {
    .navbar__links-container_footer{
        width: 25%;
    }
}