.header{
    width: 85%;
    height: 600px;
    margin: auto;
    position: relative;
    margin-bottom: 5%;
}

.header__rings{
    position: absolute;
    top: 15%;
    left: -20%;
    z-index: 50;
}