.footer{
    width: 100%;
    min-height: 500px;
    height: fit-content;
    background-color: #242424;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.footer__rings{
    position: absolute;
    top: 57%;
    left: -10%;
    z-index: 50;
}

@media screen and (max-width:768px) {
    .footer{
        padding-bottom: 4.5%;
    }

    .footer__rings{
        width: 50%;
    }
}

@media screen and (max-width:500px) {
    .footer{
        min-height: 540px;
        padding-bottom: 0;
    }

    .footer__rings{
        width: 70%;
    }
}